﻿@using MultiTaskTest.Common
@model IEnumerable<string>
@{
    ViewData["Title"] = "Multitask test";
}

<div class="col-xs-12">
    
    <div data-logs-container>
        @foreach (var file in Model)
        {
            <h3>
                <a asp-action="Download" asp-route-fileName="@file">@file</a>
            </h3>
        }
    </div>

    <h3 data-logs-empty class="@(Model.Any() ? "display-none" : "")">Logs not exist</h3>
    
    @if (Model.Any())
    {
        <button class="btn btn-primary btn-lg" data-button-clearlogs data-url="@Url.Action("Clear", "Logs")">Clear logs</button>
    }
</div>