﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>This is a test application for comparing different approaches for Multitasking in .Net</h2>

<p>Following approaches implemented in this project:</p>
<ol>
    <li>Linq.ForAll</li>
    <li>Parallel.For</li>
    <li>Parallel.ForEach</li>
    <li>Parallel.Invoke</li>
    <li>Task.Run</li>
    <li>Task.Factory.StartNew</li>
    <li>ThreadPool.QueueUserWorkItem</li>
    <li>Thread.Start</li>
</ol>

<span>
    You can run each method as a standalone console application or run it through ASP.NET Core application. <br/>
    Also, you'll be able to see a thread race animation
</span>
