﻿@using MultiTaskTest.Common
@model ApplicationSettings
@{
    ViewData["Title"] = "Multitask test";
}

<h3>Pool size: @ThreadHelper.ThreadPoolSize</h3>
<h3>CPU count(Pool minimum): @ThreadHelper.MinimumThreadPoolSize</h3>
<div class="common-settings-container clearfix">
    <form id="commonSettings">
        <div class="col-md-12">
            <div class="form-group col-md-2">
                <label asp-for="IterationsCount">Iterations</label>
                <input asp-for="IterationsCount" min="0" type="number" value="100" class="form-control" placeholder="Iterations">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="PowerValue">Power</label>
                <input asp-for="PowerValue" min="0" type="number" value="138000" class="form-control" placeholder="Power">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-2">
                <label asp-for="ScaleTicksValue">Speed scale</label>
                <input asp-for="ScaleTicksValue" min="1" type="number" value="1000" class="form-control" placeholder="Scale">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ThreadPoolMinimum">Pool minimum</label>
                <input asp-for="ThreadPoolMinimum" min="0" type="number" class="form-control" placeholder="Minimum">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="ShowThreadRace">Show thread race</label>
            <input asp-for="ShowThreadRace" type="checkbox" checked="checked">
        </div>
    </form>
    <button
            id="action-button"
            type="button"
            class="btn btn-primary btn-lg run-button"
            data-button-runapplication
            data-url="@Url.Action("Run", "Home")"
    >
        <i class="glyphicon glyphicon-play-circle"></i>
    </button>
</div>

<div class="clearfix">
    <ul class="nav nav-tabs tabs">
        <li class="active"><a data-tab="Linq.ForAll" href="#linq-forall">Linq.ForAll</a></li>
        <li><a data-tab="Parallel.For" href="#parallel-for">Parallel.For</a></li>
        <li><a data-tab="Parallel.ForEach" href="#parallel-foreach">Parallel.ForEach</a></li>
        <li><a data-tab="Parallel.Invoke" href="#parallel-invoke">Parallel.Invoke</a></li>
        <li><a data-tab="Task.Run" href="#task-run">Task.Run</a></li>
        <li><a data-tab="Task.Factory.StartNew" href="#task-factory">Task.Factory.StartNew</a></li>
        <li><a data-tab="ThreadPool.QueueUserWorkItem" href="#threadpool">ThreadPool.QueueUserWorkItem</a></li>
        <li><a data-tab="Thread.Start" href="#thread-start">Thread.Start</a></li>
    </ul>
    <div class="col-md-12" data-tab-content="Linq.ForAll" data-tab-content-active="true">
        <h2 id="linq-forall">Linq.ForAll</h2>
        <form data-from-settings-extended="Linq.ForAll">
            <input asp-for="ApplicationName" value="LinqForAll" type="hidden"/>
            <div class="form-group col-md-2">
                <label asp-for="MaxDegreeOfParallelism">Max degree</label>
                <input asp-for="MaxDegreeOfParallelism" min="0" type="number" class="form-control" placeholder="Degree">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="Linq.ForAll"></div>
        <div class="loader hidden" data-amimation-loader="Linq.ForAll">
            <img class="loader-image" src="~/images/loader.gif"/>
        </div>
    </div>

    <div class="col-md-12 hidden" data-tab-content="Parallel.For" data-tab-content-active="false">
        <h2 id="parallel-for">Parallel.For</h2>
        <form data-from-settings-extended="Parallel.For">
            <input asp-for="ApplicationName" value="ParallelFor" type="hidden" />
            <div class="form-group col-md-2">
                <label asp-for="MaxDegreeOfParallelism">Max degree</label>
                <input asp-for="MaxDegreeOfParallelism" min="0" type="number" class="form-control" placeholder="Degree">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="Parallel.For"></div>
        <div class="loader hidden" data-amimation-loader="Parallel.For">
            <img class="loader-image" src="~/images/loader.gif" />
        </div>
    </div>

    <div class="col-md-12 hidden" data-tab-content="Parallel.ForEach" data-tab-content-active="false">
        <h2 id="parallel-foreach">Parallel.ForEach</h2>
        <form data-from-settings-extended="Parallel.ForEach">
            <input asp-for="ApplicationName" value="ParallelForEach" type="hidden" />
            <div class="form-group col-md-2">
                <label asp-for="MaxDegreeOfParallelism">Max degree</label>
                <input asp-for="MaxDegreeOfParallelism" min="0" type="number" class="form-control" placeholder="Degree">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="Parallel.ForEach"></div>
        <div class="loader hidden" data-amimation-loader="Parallel.ForEach">
            <img class="loader-image" src="~/images/loader.gif" />
        </div>
    </div>

    <div class="col-md-12 hidden" data-tab-content="Parallel.Invoke" data-tab-content-active="false">
        <h2 id="parallel-invoke">Parallel.Invoke</h2>
        <form data-from-settings-extended="Parallel.Invoke">
            <input asp-for="ApplicationName" value="ParallelInvoke" type="hidden" />
            <div class="form-group col-md-2">
                <label asp-for="ActionsCount">Actions count</label>
                <input asp-for="ActionsCount" min="0" type="number" value="4" class="form-control" placeholder="Actions">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="MaxDegreeOfParallelism">Max degree</label>
                <input asp-for="MaxDegreeOfParallelism" min="0" type="number" class="form-control" placeholder="Degree">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="Parallel.Invoke"></div>
        <div class="loader hidden" data-amimation-loader="Parallel.Invoke">
            <img class="loader-image" src="~/images/loader.gif" />
        </div>
    </div>

    <div class="col-md-12 hidden" data-tab-content="Task.Run" data-tab-content-active="false">
        <h2 id="task-run">Task.Run</h2>
        <form data-from-settings-extended="Task.Run">
            <input asp-for="ApplicationName" value="Tasks" type="hidden" />
            <div class="form-group col-md-2">
                <label asp-for="ActionsCount">Actions count</label>
                <input asp-for="ActionsCount" min="0" type="number" value="4" class="form-control" placeholder="Actions">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="Task.Run"></div>
        <div class="loader hidden" data-amimation-loader="Task.Run">
            <img class="loader-image" src="~/images/loader.gif" />
        </div>
    </div>

    <div class="col-md-12 hidden" data-tab-content="Task.Factory.StartNew" data-tab-content-active="false">
        <h2 id="task-factory">Task.Factory.StartNew</h2>
        <form data-from-settings-extended="Task.Factory.StartNew">
            <input asp-for="ApplicationName" value="TaskFactory" type="hidden" />
            <div class="form-group col-md-2">
                <label asp-for="ActionsCount">Actions count</label>
                <input asp-for="ActionsCount" min="0" type="number" value="4" class="form-control" placeholder="Actions">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="Task.Factory.StartNew"></div>
        <div class="loader hidden" data-amimation-loader="Task.Factory.StartNew">
            <img class="loader-image" src="~/images/loader.gif" />
        </div>
    </div>

    <div class="col-md-12 hidden" data-tab-content="ThreadPool.QueueUserWorkItem" data-tab-content-active="false">
        <h2 id="threadpool">ThreadPool.QueueUserWorkItem</h2>
        <form data-from-settings-extended="ThreadPool.QueueUserWorkItem">
            <input asp-for="ApplicationName" value="ThreadPool" type="hidden" />
            <div class="form-group col-md-2">
                <label asp-for="ActionsCount">Actions count</label>
                <input asp-for="ActionsCount" min="0" type="number" value="4" class="form-control" placeholder="Actions">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="ThreadPool.QueueUserWorkItem"></div>
        <div class="loader hidden" data-amimation-loader="ThreadPool.QueueUserWorkItem">
            <img class="loader-image" src="~/images/loader.gif" />
        </div>
    </div>

    <div class="col-md-12 hidden" data-tab-content="Thread.Start" data-tab-content-active="false">
        <h2 id="thread-start">Thread.Start</h2>
        <form data-from-settings-extended="Thread.Start">
            <input asp-for="ApplicationName" value="Threads" type="hidden" />
            <div class="form-group col-md-2">
                <label asp-for="ActionsCount">Actions count</label>
                <input asp-for="ActionsCount" min="0" type="number" value="4" class="form-control" placeholder="Actions">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ThreadPriority">Thread priority</label>
                <input asp-for="ThreadPriority" min="0" type="number" value="2" class="form-control" placeholder="Priority">
            </div>
        </form>
        <div class="col-md-12" data-tab-animation="Thread.Start"></div>
        <div class="loader hidden" data-amimation-loader="Thread.Start">
            <img class="loader-image" src="~/images/loader.gif" />
        </div>
    </div>
</div>