﻿@using MultiTaskTest.Common.Statistic
@model ThreadMeasuresViewModel
@{
    var carNumber = 0;
    var threadNumber = 0;
    var carsCount = 8;
    var threadTimelineScale = 85;
}

<div class="col-md-12">
    <h3>Timing: @Model.ElapsedTime ms</h3>
    <h4>Threads count: @Model.ThreadsCount</h4>
    @foreach (var computationStatistic in Model.ComputationStatistic)
    {
        <div>
            @{
                string threadType = Model.ThreadMetricViewModels.First(x => x.ThreadName == computationStatistic.Key).IsThreadFromPool
                    ? "from pool"
                    : "new";
            }
            @computationStatistic.Key (@threadType) calculated @computationStatistic.Value times.
        </div>
    }
</div>
@if (Model.ShowThreadRace)
{
    <div class="col-md-12">
        <img class="car" src="~/images/car_0.png" /> - Action <br />
        <img class="road" src="~/images/road.png" /> - Thread
    </div>

    <div class="animation-container" data-iterations-max="@Model.ThreadMetricViewModels.Select(x => x.TimeBetweenIterations.Count).Max()">
        @foreach (var threadMetric in Model.ThreadMetricViewModels)
        {
            <div class="thread-name">#@threadMetric.ThreadId @(threadMetric.ThreadName.Contains("Main") ? "(M)" : string.Empty)</div>
            <img data-start
                style="
                    position: absolute;
                    margin-top: @(threadNumber * 27)px;"
                 class="finish" src="~/images/start.jpg" />
            <div class="full-calculation-path" data-thread-name="@threadMetric.ThreadName">

                @foreach (TimeStamp iterationTime in threadMetric.TimeBetweenIterations)
                {
                    <div class="iteration"
                         data-iteration-time="@iterationTime.IterationTimeStamp"
                         data-iteration-thread="@threadMetric.ThreadName"
                         data-iteration-action="@(iterationTime.ActionId)">
                    </div>
                }

                <div data-action-active data-actionid="@threadMetric.TimeBetweenIterations[0].ActionId">
                    <img class="finish display-none" data-thread-completed="@threadMetric.ThreadName" src="~/images/finish.jpg" />
                </div>
            </div>
            {
                threadNumber++;
            }
        }

    </div>
    <div class="col-md-12">
        @foreach (var actions in Model.ThreadMetricViewModels.Select(x => x.TimeBetweenIterations))
        {
            foreach (var action in actions.GroupBy(x => x.ActionId))
            {
                <img data-action-pool data-actionid="@action.Key" class="car" src="~/images/car_@(carNumber++ % carsCount).png" />
            }
        }
    </div>
    <div data-thread-timing class="col-md-12 thread-timing-graph">
        <h1>Thread timeline</h1>
        <div class="thread-timing-container">
            @foreach (var threadMetric in Model.ThreadMetricViewModels)
            {
                <div class="thread-timing" 
                     style="
                        width: @(threadMetric.TimeBetweenIterations.Sum(x => x.IterationTimeStamp) / threadTimelineScale)px; 
                        margin-left: @(threadMetric.TimeBetweenIterations[0].IterationTimeStamp / threadTimelineScale)px;">
                    #@threadMetric.ThreadId @(threadMetric.ThreadName.Contains("Main") ? "(M)" : string.Empty)
                </div>
            }
        </div>
    </div>
}