﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html, body {
    height: 100%;
}

footer {
    height: 2%;
    margin-left: 15px;
    margin-top: 50px;
}

.container {
    min-height: 98%;
    width: 100%;
    margin-bottom: -2%;
}

.iteration {
    width: 0;
    float: left;
    height: 25px;
    background: transparent;
}

.full-calculation-path {
    float: left;
    height: 27px;
    background-image: url('../images/road.png');
    background-repeat: repeat-x;
    background-size: contain;
    border-bottom: 2px solid yellow;
    width: 100%;
}
    .full-calculation-path:last-child {
        border-bottom: none;
        height: 25px;
    }

.thread-name {
    color: white;
    position: relative;
    top: 2px;
    left: 5px;
    height: 0;
    width: 400px;
}

.display-none {
    display: none;
}

.common-settings-container {
    margin-top: 10px;
}

.loader {
    clear: both;
    height: 213px;
    width: 498px
}

.run-button {
    margin: 30px;
    width: 70px;
    height: 70px;
    padding: 4px;
    border-radius: 11px;
    font-size: 50px;
}
.run-button>i {
    top: 5px;
}

.animation-container {
    margin-top: 20px;
    margin-left: -15px;
    width: 100%;
    float: left;
    overflow: hidden;
}

.road {
    height: 25px;
    width: 50px;
}

.car {
    width: 50px;
    height: 25px;
    position: relative;
    z-index: 2;
}

.finish {
    height: 25px;
    width: 10px;
}

@media(max-width: 498px) {
    .loader-image, .loader {
        width: 300px;
    }

    h2 {
        font-size: 20px;
    }

    .animation-container {
        width: 118%;
    }
}

@media(max-width: 1120px) {
    .nav-tabs>li {
        width: 100%;
    }

    .tabs.nav-tabs>li.active>a {
        background-color: #ddd;
        border-radius: 4px;
    }
}

.grid {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

    .grid div {
        border: 1px solid #ccc;
        border-width: 0 1px 1px 0;
        float: left;
    }
.thread-timing {
    background: #4A4A4A;
    margin-top: 0;
    margin-bottom: 7px;
    height: 17px;
    color: white;
}
.thread-timing-container {
    position: absolute;
}
.thread-timing-graph {
    width: 1800px;
    margin-top: 120px;
    margin-bottom: 50px;
}